<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    <title>Project</title>
    <link rel="stylesheet" href="Globalstyle.astro" />

</head>

<body>

    <div class="head">
        <div class="head-site-name">
         <img src="CS-TECH-WB-white.png" alt="" srcset="" style="height: 90px; width: 120px;">
            <!--<h1 class="site-name">Cubosquare</h1>-->
        </div>
        <div class="head-nav-menu">
            <div class="nav-menu-item">
                <li class="menu-items">
                    <a href="#" class="about">About Us</a>
                    <a href="#" class="What We Do">What We Do</a>
                    <a href="#" class="Pricing">Pricing</a>
                    <a href="#" class="FAQ">FAQ</a>
                    <a href="#" class="Contact">Contact</a>
                </li>
            </div>
             <nav>
      <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
          <div class="logo">
            <h1>Navbar</h1>
          </div>
          <div class="menu-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">blogs</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">contact</a></li>
          </div>
        </div>
      </div>
    </nav>
            <div class="nav-menu-btn">
                <a href="https://demo.templatemonster.com/demo/87248.html" class="templete">Get the Started</a>
            </div>
        </div>
    </div>

    <section class="text-center h-screen w-full bg-slate-800 max-md:p-8 ">
        <div>
            <h1 class="text-2xl pt-16 text-blue-600 font-sans">Welcome to Cubosquare</h1>
        </div>
        <h1 class="text-5xl font-extrabold text-white pt-4 max-md:text-3xl ">
            We are a leading web design agency <br> providing creative solutions
        </h1>
        <p class="text-xl text-neutral-300 pt-4 max-md:text-base">
            With over 20 years of experience in the digital market, we can offer what you are looking for,<br>
            from a landing page to a complex multipage website.
        </p>

        <div class="w-full mt-10 h-2/3 bg-[url('bgsection1.png')] bg-no-repeat bg-center bg-contain ">
            <!-- Content goes here -->
        </div>
    </section>
	<section class="mt-32">
    <div>
        <h1 class="text-center text-blue-400 text-2xl font-sans">Why Choose Us</h1>
        <p class="text-center text-black py-4 text-4xl font-sans">Industry innovators since 1999</p>
        <p class="text-center py-2 text-xl font-sans">Since the day of our establishment, we have been revolutionizing the industry of digital<br>
            solutions and web design, resulting in over 150k successful projects.</p>
    </div>
	<div class="text-center py-8">
        <button class="bg-blue-700 rounded-3xl px-8 py-3  hover:bg-blue-600 text-white">Learn More</button>
	</div>

	</section>
	<section>
	<div class="w-full flex">
	<div class="w-3/5 p-16">
		<video width="100%" height="240" controls>
  <source src="video.mp4" type="video/mp4">
  Your browser does not support the video tag.
	</video>
	</div>
	<div class="w-6/12">
	<h1 class="text-blue-400 text-2xl font-sans">About Us</h1>
	<h3 class="text-5xl font-sans">Award-winning web <br>design studio</h3>
	<p class="text-xl font-sans py-6">Lintense is a small yet powerful web design &<br> development agency. Over the last few years <br>we've made a reputation for building websites that are:</p>
	<pre class="py-2 px-10 font-sans">Highly responsive</pre>
	<pre class="py-2 px-10 font-sans">Always up-to-date</pre>
	<pre class="py-2 px-10 font-sans">Easy to customize</pre>
	</div>
	</section>



	<section>
	<div class="w-full flex mt-6">
	<div class="w-3/5 p-16">
	<h1 class="text-blue-400 text-2xl font-sans py-4">Our Mission & Vision</h1>
	<h2 class="text-5xl font-sans">We aim to deliver quality creative solutions</h2>
	<p class="text-xl font-sans py-6">Our team strives to create a customized user <br>experience with a website built to be an <br>incredible advantage.</p>	
	</div>
	<div class="w-6/12">
	<img src="blur-landing-corporate.png">
	</div>
	</section>
    <section>
        <div class="mt-32">
            <div>
                <h4 class="text-center text-blue-400 text-2xl font-sans">What We Offer</h4>
                <h1 class="text-center text-black py-4 text-4xl font-sans">Creative services that matter</h1>
                <pre class="text-center py-2 text-xl text-gray-400 font-sans">At Lintense, we aim to deliver the best creative solutions for your business.</pre>
            </div>
        </div>
    </section>
    <section>
    <div class="w-full flex flex-row max-md:flex max-md:flex-col items-center">
    <div class="w-1/3 p-12 max-md:p-8">

            <div class="image flex flex-row gap-4">
                <img src="/bulb-icon.jpg" alt="" srcset="" style="height: 50px; width: 50px;">
            <h1 class="text-2xl">Web design & <br> development</h1>
            </div>
            <pre>We focus on not only providing</pre>
            <pre>beautiful design, but on layouts </pre>
            <pre>that give your clients the information</pre>
            <pre>they're looking for and make the </pre>
            <pre>important firstimpression.</p>
            </div>
   
    <div class="w-1/3 p-12 max-md:p-8">
    <div class="image flex flex-row gap-4">
                <img src="/shop.png" alt="" srcset="" style="height: 50px; width: 50px;">
            <h1 class="text-2xl font-sans">Logo design & <br>copywriting</h1>
            </div>
   
    
    <pre>Our designers know the </pre><pre>importance of designing </pre><pre>attractive and powerful logos </pre><pre>and  writing appealing texts that</pre> enhance your visibility and recognition.</pre>
    </div>

    <div class="w-1/3 p-12 max-md:p-8">
   <div class="image flex flex-row gap-4">
                <img src="/vector copyright1.png" alt="" srcset="" style="height: 50px; width: 50px;">
           <h1 class="text-2xl text-zinc-950 font-sans" >Website support & <br>consultations</h1>
            </div>
    
    <p>Beside offering great web  services, we <br> provide reliable  website support and <br> consultations for indivdual and corporate <br>clients</pre> at highly affordable prices.</p>

   
    </div>
    </section>

    <section class="bg-slate-800 pt-10 py-20 px-20">
    <div class="container mx-auto px-4 pt-6">
    <h1 class="text-center text-xl text-blue-600 font-sans">Our Recent Projects</h1>
    <h2 class="text-center text-5xl pt-10 text-white font-sans">Take a look at the recent and featured <br>projects that we have completed</h2>
    <h3 class="text-center text-lg pt-8 text-gray-400 font-sans">Our team of creative experts and web designers regularly works to deliver the best <br>
    websites for you. 
    Here are some of our recent projects we have worked on.
</h3>
    </div>
    <div class="text-center py-8">
        <button class="bg-blue-700 rounded-3xl px-8 py-3 hover:bg-blue-600">View More</button>
	</div>
    </section>
    <section class="award mt-10 flex flex-row items-stretch px-10 gap-10">
        <div class="award-col-1 p-5">
            <div class="col1-main pl-10 pt-10">
                <h2 class="award text-blue-500 text-xl font-semibold font-sans">Our Awards</h2>
                <h1 class="website text-4xl font-bold text-gray-700 font-sans">#1 provider of stunning<br>websites</h1>
                <p class="awards text-lg text-gray-500 font-sans">
                    Since our establishment, we have received numerous<br>
                    awards that show how we changed the digital<br>
                    industry.
                </p>
            </div>
        </div>
        <div class="award-col-2-main flex flex-row items-stretch justify-center gap-5">
            <div class="award-col-2">
                <div class="col2-main bg-gray-200 px-5 py-10">
                    <h1 class="website text-2xl font-bold text-gray-700 font-sans pb-5">Website of the year: <br>cute fashion
                    </h1>
                    <p class="award text-lg text-gray-500 font-sans">
                        One of our recent projects, an<br> online fashion magazine, has been<br> awarded for a unique
                        design<br> approach.
                    </p>
                </div>
            </div>
            <div class="award-col-3">
                <div class="col3-main bg-gray-200 px-5 py-10">
                    <h1 class="website text-2xl font-bold text-gray-700 pb-5 font-sans">Best responsive web<br>design: istep co.
                    </h1>
                    <p class="award text-lg text-gray-500 font-sans ">
                        We achieved new levels of web<br> responsiveness in this project, for<br> which we were awarded
                        in 2017.
                    </p>
                    
                </div>
            </div>
        </div>
        
    </section>

    <section>
	<div class="w-full flex mt-6">
    <div class="w-6/12">
	<img src="blur-landing-corporate-.png">
	</div>
	<div class="w-3/5 p-16">
	<h1 class="text-2xl font-sans py-4 font-sans">
<p class="">Our creative team knows how to develop a <br>stunning and highly efficient website that 
<br> covers your needs and attracts clients</p>
	
	<p class="text-xl font-sans py-6 text-gray-400">Lintense knows how a professionally designed website can <br>influence your image and we are ready to create it for you.

</p>	
<div class="py-8">
        <button class="bg-blue-500 rounded-3xl px-4 py-3 hover:bg-blue-600">Get a Quote</button>
	</div>
	</div>
	
	</section>


    <section>
	<div class="w-full flex mt-6">
	<div class="w-3/5 p-16  py-16 px-16 bg-slate-50">
    <div class="flex">
        <img src="doticon1.jpg" alt="" srcset="" style="height: 50px; width: 50px;">
	<h1 class="text-2xl flex justify-items-end font-sans gap-24">Competitive rates</h1>
    </div>
	<p class="text-lg font-sans py-6 text-gray-400">Our streamlined website development process and highly<br> skilled website designers allows 
    us to provide <br>professional yet very affordable website design.</p>	

    <div class="flex">
        <img src="doticon1.jpg" alt="" srcset="" style="height: 50px; width: 50px;">
	<h1 class="text-2xl flex justify-items-end font-sans gap-20">No contracts needed</h1>
    </div>
    <p class="text-lg font-sans py-6 text-gray-400 font-sans gap-20">You can increase, pause or stop our services at any time,<br>leaving you completely in control of your marketing<br> budgets.</p>
	</div>

	<div class="w-2/3 flex justify-items-start">
	<img src="landing-corporate-25-660x406.jpg">
	</div>
	</section>
     

     <section>
     <div class="bg-gradient-to-r from-cyan-500 to-blue-500 pt-20 ">
     <h1 class="text-5xl text-white px-6 mx-20 font-sans">Lets discuss your idea</h1>
     <p class="text-xl text-white px-6 mx-20 font-sans">Have a thought about your future website? We are always open for your ideas.</p>
     <div class="py-8">
        <button class="bg-white text-black rounded-3xl px-8 py-3 mx-20 flex hover:bg-blue-600">Get in Touch</button>
	</div>
     </div>
     </section>


    <section>
    <div class="w-full flex mt-6">
        <div class="w-3/5 p-16">
            <h1 class="text-blue-400 text-2xl font-sans py-4">Web Design Features</h1>

            <p class="text-5xl font-sans py-6">All our websites can <br>offer a wide variety <br>of useful features</p>
        </div>
        <div class="w-2/3 flex flex-col justify-evenly">
            <div class="flex">
                <div class="flex items-center gap-20 px-10">
                    <img src="arrow.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl gap-4">Responsive design</h1>-->
                </div>
                <div class="flex items-center gap-20 px-10">
                    <img src="htmlicon.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Powerful search</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="cool.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="font-sans">Cool animations</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="customize.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Customization</h1>-->
                </div>
            </div>
            <div class="flex">
                <div class="flex items-center gap-20 px-10">
                    <img src="seoicon.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl gap-4">Responsive design</h1>-->
                </div>
                <div class="flex items-center gap-20 px-10">
                    <img src="flexible.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Powerful search</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="cool.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="font-sans">Cool animations</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="parallel.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Customization</h1>-->
                </div>
            </div>
        </div>
</section>
  
    <!--second image-->
   


<section>

<div class="w-2/3 flex flex-col justify-evenly">
            <div class="flex">
                <div class="flex items-center gap-20 px-10">
                    <img src="arrow.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl gap-4">Responsive design</h1>-->
                </div>
                <div class="flex items-center gap-20 px-10">
                    <img src="htmlicon.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Powerful search</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="cool.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="font-sans">Cool animations</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="customize.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Customization</h1>-->
                </div>
            </div>
            <div class="flex">
                <div class="flex items-center gap-20 px-10">
                    <img src="seoicon.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl gap-4">Responsive design</h1>-->
                </div>
                <div class="flex items-center gap-20 px-10">
                    <img src="flexible.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Powerful search</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="cool.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="font-sans">Cool animations</h1>-->
                </div>

                <div class="flex  items-center gap-20 px-10">
                    <img src="parallel.png" alt="" srcset="" style="height: 80px; width: 80px;">
                    <!--<h1 class="text-xl font-sans">Customization</h1>-->
                </div>
            </div>
            
            <div class="w-full flex mt-6">
            <div class="w-3/5 p-16">
            <h1 class="text-blue-400 text-2xl font-sans py-4">Web Design Features</h1>

            <p class="text-5xl font-sans py-6">All our websites can <br>offer a wide variety <br>of useful features</p>
        </div>
        </div>
        

</section>



    

    
    

     <!--<section class="feature">
        <div class="feature-main">
            <div class="feat-row-1 flex flex-row justify-around items-center ">
                <div class="feat-row-1-col-1 flex flex-col justify-center items-center">
                    <img src="/arrow.png" alt="" class="arrow" >
                    <h1 class="resp text-xl font-medium">Responsive design</h1>
                </div>
                <div class="feat-row-1-col-2 flex flex-col justify-center items-center">
                    <img src="/arrow.png" alt="" class="arrow" >
                    <h1 class="resp text-xl font-medium">Responsive design</h1>
                </div>
                <div class="feat-row-1-col-3 flex flex-col justify-center items-center">
                    <img src="/arrow.png" alt="" class="arrow" >
                    <h1 class="resp text-xl font-medium">Responsive design</h1>
                </div>
                <div class="feat-row-1-col-4 flex flex-col justify-center items-center">
                    <img src="/arrow.png" alt="" class="arrow" >
                    <h1 class="resp text-xl font-medium">Responsive design</h1>
                </div>
            </div>
            <div class="feat-row-2"></div>
        </div>
    </section>-->

     <section>
	<div class="w-full flex mt-6 bg-slate-800 pt-10 py-16 px-16">
	<div class="w-4/5 p-14">
	<h1 class="text-white text-2xl font-sans py-3 px-12 font-sans">Founded in</h1>
	
	<h1 class="text-7xl font-sans py-6 text-blue-400 px-10">1999</h1>	
	</div>


    <div class="w-full flex mt-6 bg-slate-800 pt-10 py-16 px-16">
	<div class="w-4/5">
	<h1 class="text-white text-2xl font-sans py-3 px-6">Number of awards</h1>
	
	<h2 class="text-7xl font-sans py-6 text-blue-400 px-10">120</h2>	
	</div>
	</div>
    
    <div class="w-full flex mt-6 bg-slate-800 pt-10 py-16 px-16">
	<div class="w-4/5">
	<h1 class="text-white text-2xl font-sans py-3">Nr. of regular clients</h1>
	
	<h2 class="text-7xl font-sans py-6 text-blue-400">500k</h2>	
	</div>
	</div>
	
	</div>
	</section>

    <section>
        <div class="freq">
            <div class="freq1 text-center">
                <h3 class =" text-2xl text-blue-600 mt-20 font-sans">Tips from Our Team</h3>
                <p class="text-black text-4xl mt-4 font-sans">Browse countless support material, tutorials,<br>
                    reviews, and recommendations from our web experts</p>
            </div>
        </div>
    </section>

    <section class="blog flex">
    <div class="blogs w-2/5  space-x-9 bg-cover py-8 px-8">
    
    <img src="blogone.jpg">
    
    </div>

    <div class="blogtwo w-2/5 space-x-9 bg-cover py-8 ">
    <img src="blogtwo.jpg">
    </div>

    <div class="blogthree w-2/5 space-x-9 bg-cover py-8 ">
    <img src="blogthree.jpg">
    </div>

    <div class="blogthree w-2/5 space-x-9 bg-cover py-8 hover:bg-gradient-to-r ">
    <img src="blogfour.jpg">
    </div>
    </section>
 

    <section class="blo flex">
    <div class="blogs w-2/5  space-x-9 bg-cover py-8 px-8">
    
    <h1 class="text-2xl text-center font-sans">Creating an efficient ui</h1>
    <p class="text-gray-400 py-4 font-sans">Wondering how to create an UI that<br> works? Browse these tips prepared <br> by our web design experts.</p>
    
    </div>

    <div class="blogtwo w-2/5 space-x-9 bg-cover py-8 ">
    <h1 class="text-2xl text-center font-sans">New web design tools</h1>
    <p class="text-gray-400 py-4 font-sans">We have prepared a list of 12 new web <br> design tools and resources released<br>this week and mostly free.</p>
    </div>

    <div class="blogthree w-2/5 space-x-9 bg-cover py-8 ">
    <h1 class="text-2xl text-center font-sans">Why seo matters</h1>
    <p class="text-gray-400 py-4 font-sans">SEO gives company owners the power<br>to reach the right people when they <br>are actively searching out information.</p>
    </div>

    <div class="blogthree w-2/5 space-x-9 bg-cover py-8 hover:bg-gradient-to-r ">
    <h1 class="text-2xl text-center font-sans">8 incredible jquery tips</h1>
    <p class="text-gray-400 py-4 font-sans">jQuery has a variety of possibilties to <br> make your website more functional <br> than ever. Here are some basic tricks.</p>
    </div>
    </section>


    <section>
    <div>
    <h1 class="text-center text-5xl text-sky-500 py-4 font-bold">2,000+</h1>
    <p class="text-center text-4xl font-bold pb-4">Positive reviews by our<br> satisfied clients</p>
    </div>
    </section>
    

<!--New Testimonail-->

<section class="text-gray-700">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <!--card 1-->
                <div class="p-4 md:w-1/2 w-full">
                    <div class="h-full bg-slate-50  p-8 rounded">
                        <img src="Testimonail icon2.png" alt="Testimonail" class="h-12 w-12">
                        <p class="font-semibold mb-8">
                            Lintense is a highly skilled and <br> uniquely capable firm with
                            multitudes <br> of talented web designers on board.
                        </p>
                        <!--customer image-->
                        <div class="inline-flex items-center">
                            <img src="men1.jpg" alt="men" class="w-12 h-12 rounded-3xl object-cover object-center">
                            <!-- <span class="flex flex-col pl-4">
                                <span class="font-bold text-gray-500">Roy Sanders
                                    Regular client
                                    

                                </span>

                            </span> -->
                            <span class="flex flex-col pl-4">
                                <span class="font-bold text-black">Roy Sanders</span>
                                <span class="text-gray-400">Regular client</span>
                            </span>
                        </div>
                    </div>

                </div>

                <!--card 2-->
                <div class="p-4 md:w-1/2 w-full">
                    <div class="h-full bg-slate-50 p-8 rounded ">
                        <img src="Testimonail icon2.png" alt="Testimonail" class="h-12 w-12">
                        <p class="font-semibold mb-8">
                            We partnered with Lintense to<br> design our website. We found them<br> 
                            incredibly helpful during our <br>cooperation.
                        </p>
                        <!--customer image-->
                        <div class="inline-flex items-center">
                            <img src="women.jpg" alt="men" class="w-12 h-12  text-blue-500 rounded-3xl object-cover object-center">
                            <!-- <span class="flex flex-col pl-4">
                                <span class="font-bold text-black">Roy Sanders
                                    Regular client
                                    

                                </span>

                            </span> -->
                            <span class="flex flex-col pl-4">
                                <span class="font-bold text-black">Anna Robinson</span>
                                <span class="text-black">Regular client</span>
                            </span>
                        </div>
                    </div>




                </div>

            </div>


            

    </section>

    <section class="bg-slate-800">

        <div class="max-w-4xl mx-auto">

            <h1 class="text-3xl font-semibold mb-8 text-center text-white py-16">Pricing plans</h1>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

                <!-- Plan 1 -->
                <div class="bg-white p-10 rounded-md shadow-md py-16 px-4">
                    <h2 class="text-xl font-semibold mb-4 text-center">Free package</h2>
                    <!-- <p class="text-gray-600 mb-4">Perfect for getting started</p> -->
                    <div class="text-5xl font-bold mb-2 text-center text-blue-600">$0</div>
                    <div class="text-xl text-gray-400 mb-4 text-center">per month</div>
                    <ul class="list-disc pl-6 mb-6 ">
                        <h5>web Design</h5>
                        <h5>Web Development</h5>
                        <h5>UI/UX Design</h5>
                    </ul>
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-3xl hover:bg-blue-600 text-center">Order
                        Now</button>
                </div>

                <!-- Plan 2 -->
                <div class="bg-white p-6 rounded-md shadow-md">
                    <h2 class="text-xl font-semibold mb-4 bg-rose-500  text-center">Save 35%</h2>
                    <h2 class="text-xl font-semibold mb-4 text-center">Standard package</h2>
                    <!-- <p class="text-gray-600 mb-4">Great for small businesses</p> -->
                    <div class="text-5xl font-bold mb-2 text-center">$46</div>
                    <div class="text-xl text-gray-400 mb-4 text-center">per month</div>
                    <ul class="list-disc pl-6 mb-6">
                        <h5>web Design</h5>
                        <h5>Web Development</h5>
                        <h5>UI/UX Design</h5>
                        <h5>Quality Assurance</h5>
                    </ul>
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-3xl hover:bg-blue-600">Order Now</button>
                </div>

                <!-- Plan 3 -->
                <div class="bg-white p-6 rounded-md shadow-md">
                    <h2 class="text-xl font-semibold mb-6 text-center">PRO package</h2>
                    <!-- <p class="text-gray-600 mb-4">For advanced users and teams</p> -->
                    <div class="text-5xl font-bold mb-2 text-center text-blue-600">$89</div>
                    <div class="text-xl text-gray-400  mb-4 text-center">per month</div>
                    <ul class="list-disc pl-6 mb-6">
                        <h5>web Design</h5>
                        <h5>Web Development</h5>
                        <h5>UI/UX Design</h5>
                        <h5>Quality Assurance</h5>
                        <h5>Insights & Analytics</h5>
                    </ul>
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-3xl hover:bg-blue-600 text-center">Order
                        Now</button>
                </div>

            </div>

        </div>
    </section>





    <section>
    <div class="py-20">
    <h1 class="text-sky-500 text-center text-lg font-sans">FAQs</h1>
    <h1 class="text-center text-5xl font-sans">Frequently asked questions</h1>
    </div>
    </section>


    <section>
	<div class="w-full flex mt-6">
    <div class="w-6/12">

    <ul class="list-disc text-center text-2xl py-4 flex justify-end font-sans">
  <li>What is a unique/non-unique purchase?</li>
</ul>


    <p class="flex justify-end font-sans">Non-exclusive purchase means that other people can buy the<br> template you have chosen some time later. Exclusive or unique <br> purchase guarantees that you are the last person to buy this<br> template. After an exclusive purchase occurs the template is <br>being permanently removed.</p>
	<p class="text-center flex justify-end py-6 font-sans">An exclusive template will never be available to other customers <br> again. Only you and people who bought the template before<br> you will own it.</p>

     <ul class="list-disc text-center text-2xl py-4 flex justify-end font-sans">
  <li>What am i allowed to do with a template?</li>
</ul>


    <p class="flex justify-end font-sans">You may build a website using the template in any way you like.<br> You may not resell or redistribute templates (like we do); claim <br>intellectual or exclusive ownership to any of our products. You are <br>also not allowed to make multiple projects with a single template.</p>
    </div>


	<div class="w-3/5 p-4">

     <ul class="list-disc text-2xl flex px-10 font-sans">
  <li>What formats of templates are available?</li>
</ul>

	
    <p class="px-8 py-4 font-sans">Website templates are available in Photoshop and HTML formats.<br>Fonts are included with the Photoshop file. In most templates,<br> HTML is compatible with Adobe® Dreamweaver® and Microsoft® <br>FrontPage®.</p>


    <ul class="list-disc text-2xl flex px-10 font-sans">
  <li>What am i allowed to do with a template?</li>
</ul>
    
	
    <p class="px-8 py-4 font-sans">The contents of the download package that you receive after <br>the purchase can vary based on the type of the product:</p>

    <ul class="list-disc px-20 mt-6 text-inherit">
  <li>Landing page</li>
  <li>Blog</li>
  <li>Portfolio</li>
 
</ul>
	</section>

    <!-- CONTACT FORM START -->
    <section class="contact">
        <div class="contact-info">
            <h6 class="contact-info-item1">Contact Our Team</h6>
            <h2 class="contact-info-item2">Get in touch with us</h2>
            <p class="contact-info-item3">If you have a question or a testimonial for us, feel free <br> to contact us
                using the form on the right.</p>
        </div>
        <div class="contact-form">
            <form action="#" class="form">
                <div class="form-container">
                    <input type="text" class="form-control col-md-6" placeholder="Your Name">
                    <input type="text" class="form-control col-md-6" placeholder="Your e-mail address">
                </div>
                
                <textarea name="" class="form-control mt-5" id="" cols="30" rows="5"
                    placeholder="Your message"></textarea>
                <button class="btn px-4 py-2 btn-lg mt-3">Send</button>
            </form>
        </div>
    </section>
    <!-- CONTACT FORM END -->

    <section class="bg-slate-800 pt-4">
    <div class="py-16 px-4">
    <h2 class="text-center py-6 font-bold text-xl text-sky-400">We are Ready to Work for You</h2>
    <h1 class="text-center mt-6 font-bold text-6xl text-white">Let is design your new website</h1>
    <p class="text-center mt-6 text-xl text-gray-400">Do you want to have a website that stands out and impresses your clients? Then we are ready<br>
to help! Click the button below to contact us and discuss your ideas.</p>

    <div class="py-8 text-center">
        <button class="bg-sky-700 text-white rounded-3xl px-8 py-3 text-center hover:bg-blue-600">Get a Quote</button>
	</div>
    </div>

    <div>
    <div class="flex px-10 gap-8 text-gray-400 text-base">
        <a href="#">About</a>
            <a href="#">Our Services</a>
            <a href="#">How We Work</a>
            <a href="#">Experience</a>
            <a href="#">Why Choose Us</a>
            <a href="#">Partner</a>
            <a href="#">Support</a>
            <a href="#">Testimonials</a>
            <a href="#">Pricing</a>
            <a href="#">FAQ</a>
            <a href="#">Contacts</a>
    </div>
    <div>
    <div class="flex px-10  py-4 gap-8 text-gray-400 text-2xl">
            <a href=""><i class="fa-brands  hover:bg-red-800 fa-youtube"></i></a>
            <a href=""><i class="fa-brands  hover:bg-blue-600 fa-facebook"></i></a>
            <a href=""><i class="fa-brands hover:bg-red-800 fa-instagram"></i></a> 
            <a href=""><i class="fa-brands hover:bg-blue-600 fa-twitter"></i></a>
            <a href=""><i class="fa-brands hover:bg-blue-600 fa-linkedin"></i></a>
    </div>
    <div class="flex px-8 gap-8 text-gray-400 text-sm pb-8 ">
     <a href="#">©2023. Lintense. All Rights Reserved</a>
    </div>
    </div>
    </div>

    </section>

    

    
</body>

</html>
